[submodule "BD/COVID-19"]
	path = BD/COVID-19
	url = git@github.com:CSSEGISandData/COVID-19.git
[submodule "BD/ISO-3166-Countries-with-Regional-Codes"]
	path = BD/ISO-3166-Countries-with-Regional-Codes
	url = https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes
